// Branding colors


// background color of website
$bg_color            : #ff3822;


// background color of footer
$ftbg_color          : darkgoldenrod;


// background colors of header
$header_bg_color_prim: rgba(255, 175, 1, 0.541);
$header_bg_color_sec : chocolate;
$header_bg_color_tert: crimson;


// text color
$font_prim: white;
$font_sec: black;