* {
    margin     : 0;
    padding    : 0;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
}

img {
    max-width: 100%;
    padding  : 0;
}



// image_hover color selector

$ihc_border: white;
// border color
$ihc_text  : white;
// text color
$ihc_textbg: black;
// text background color
$ihc_mask  : rgba(255, 86, 8, 0.7);

// Image mask layout
// 
// <div class="shell">
//      <img>
//      <div class="mask">
//          <h2>
//          <p>
//          <a class="info">
//      </div>
// </div>


@mixin image_hover($width, $height) {

    .shell {
        width        : $width;
        // height       : $height;
        // margin-top       : 10px;
        border       : 2px solid $ihc_border;
        // border-radius: 13%;
        overflow     : hidden;
        position     : relative;
        text-align   : center; 
        display: grid;
        place-items: center;
    }

    .shell .mask {
        width           : 100%;
        height          : 100%;
        position        : absolute;
        overflow        : hidden;
        top             : 0;
        left            : 0;
        opacity         : 0;
        background-color: $ihc_mask;
        transition      : all 0.4s ease-in-out;
    }

    .shell img {
        display   : block;
        position  : relative;
        width     : $width;
        transition: all 0.2s linear;
    }

    .shell h2 {
        text-transform: uppercase;
        color         : $ihc_text;
        text-align    : center;
        position      : relative;
        font-size     : 1em;
        padding       : 10px;
        background    : $ihc_textbg;
        margin        : 20px 0 0 0;
        transform     : translateY(-100px);
        opacity       : 0;
        transition    : all 0.2s ease-in-out;
    }

    .shell p {
        font-style: italic;
        font-size : .7em;
        position  : relative;
        color     : $ihc_text;
        padding   : 10px 20px 20px;
        text-align: center;
        transform : translateY(100px);
        opacity   : 0;
        transition: all 0.2s linear;
    }

    .shell .info {
        display        : inline-block;
        text-decoration: none;
        padding        : 7px 14px;
        background     : $ihc_textbg;
        color          : $ihc_text;
        text-transform : uppercase;
        box-shadow     : 0 0 1px black;
        opacity        : 0;
        transition     : all 0.2s ease-in-out
    }

    .shell .info:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
    }

    .shell:hover img {
        transform: scale(1.1);
    }

    .shell:hover .mask {
        opacity: 1;
    }

    .shell:hover h2,
    .shell:hover p,
    .shell:hover .info {
        opacity  : 1;
        transform: translateY(0px);
    }

    .shell:hover p {
        transition-delay: 0.1s;
    }

    .shell:hover .info {
        transition-delay: 0.2s;
    }

}

@mixin scroll_up($right, $bottom) {
    #up {
        position: fixed;
        width   : 40px;
        right   : $right;
        bottom  : $bottom;
        opacity : .3;
        z-index : 4;
    }

}


// index photo transitions
@keyframes photo_transition {
    0% {
        opacity: 100%;
    }

    20% {
        opacity: 100%;
    }

    25% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    75% {
        opacity: 0%;
    }

    90% {
        opacity: 0%;
    }

    98% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes photo_transition1 {
    0% {
        opacity: 0%;
    }

    15% {
        opacity: 0%;
    }

    23% {
        opacity: 100%;
    }

    45% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    75% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes photo_transition2 {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 0%;
    }

    40% {
        opacity: 0%;
    }

    48% {
        opacity: 100%;
    }

    70% {
        opacity: 100%;
    }

    75% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes photo_transition3 {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    65% {
        opacity: 0%;
    }

    73% {
        opacity: 100%;
    }

    95% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes open {
    0% {
        width: 1%;
        height: 3%;
    }

    55% {
        width: 80%;
        height: 3%;
    }

    100% {
        width: 80%;
        height: 40%;
    }
}