@import 'global';
@import 'color';
@import 'header';

article {
    display: grid;
    padding: 15px;


    >h3 {
        font-size: 40px;
    }

    >img {
        padding: 15px;
        width: calc(100% - 30px);
    }
}

@include scroll_up(10px, 10px);