@import 'global';
@import 'header';

#maps {
    position: relative;
    width: 90%;
    margin-bottom: 20px;
}

#header {
    width: 100%;
}

body {
    display: grid;
    place-items: center;
    background-color: $bg_color;
    row-gap: 10px;
}

h1, h2, h3, p {
    padding: 20px;
}

@include scroll_up(10px, 10px);