* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  padding: 0;
}

@-webkit-keyframes photo_transition {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  98% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes photo_transition {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  98% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes photo_transition1 {
  0% {
    opacity: 0%;
  }
  23% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes photo_transition1 {
  0% {
    opacity: 0%;
  }
  23% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes photo_transition2 {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  48% {
    opacity: 100%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes photo_transition2 {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  48% {
    opacity: 100%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes photo_transition3 {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  72% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes photo_transition3 {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  72% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.logo {
  height: 60px;
  -webkit-filter: drop-shadow(2px 2px 4px black);
          filter: drop-shadow(2px 2px 4px black);
}

#header {
  padding: 3px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  background-color: #ff3822;
  -webkit-box-shadow: 5px 5px 15px #b89944;
          box-shadow: 5px 5px 15px #b89944;
}

.nav > a {
  padding: 5px 10px;
  text-align: right;
}

.toggle {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0;
}

#logo-container {
  place-self: start;
  height: 60px;
}

#spacer {
  display: none;
}

.nav {
  display: none;
  position: relative;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  opacity: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.toggle:checked ~ .nav {
  display: -ms-grid;
  display: grid;
}

.toggle:active ~ .nav {
  position: relative;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  opacity: 0;
}

#nav {
  display: -ms-grid;
  display: grid;
}

#menu-icon {
  padding: 10px;
  height: 40px;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media only screen and (min-width: 600px) {
  #header {
    background-color: chocolate;
  }
  .nav {
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
  }
  .nav > a {
    padding: 0;
    margin: 0;
  }
  #nav {
    margin: 0;
    padding: 0;
  }
  #menu-icon,
  #toggle {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  #header {
    background-color: crimson;
    -webkit-box-shadow: 2px 2px 5px grey;
            box-shadow: 2px 2px 5px grey;
    padding: 0px 10px;
    margin-top: 10px;
    height: 60px;
  }
  #spacer {
    display: block;
    position: absolute;
    background-color: #ff3822;
    height: 10px;
    width: 100vw;
    top: 0;
    left: 0;
  }
  #header .logo {
    position: relative;
    height: 75px;
    padding: 0;
    margin: 0;
    z-index: 3;
    top: -7px;
    place-self: center;
  }
}

#maps {
  position: relative;
  width: 90%;
  margin-bottom: 20px;
}

#header {
  width: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #ff3822;
  row-gap: 10px;
}

h1, h2, h3, p {
  padding: 20px;
}

#up {
  position: fixed;
  width: 40px;
  right: 10px;
  bottom: 10px;
  opacity: .3;
  z-index: 4;
}
/*# sourceMappingURL=aboutus.css.map */