@import 'global';
@import 'color';
@import 'header';


body {
    background-image     : url(https://img.wallpapersafari.com/desktop/1920/1080/11/16/4jUT2Y.jpg);
    background-position  : center;
    background-attachment: fixed;
}

.menu_container {
    display   : grid;
    position  : relative;
    margin-top: 20px;
    padding   : 10px;


    input {
        display: none;
    }
}

.menu_selector {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items          : center;
    column-gap           : 1px;

    >label {
        padding         : 10px 0px;
        background-color: burlywood;
        width           : 100%;
        text-align      : center;
        transition      : all .4s ease-in;
        font-weight     : 400
    }
}

.pizza_container>.pizza,
.calzone_container>.calzone {
    font-size: .7rem;

    .mask {

        h2 {
            opacity: 0;
            width  : 100%;
        }



        >.small_price_container>h2 {

            text-align  : center;
            justify-self: center;
        }
    }

    .small_price_container {
        display                 : grid;
        position                : relative;
        width                   : 100%;
        height                  : 80%;
        justify-self            : center;
        justify-items           : center;
        align-self              : end;
        grid-auto-flow          : column;
        column-gap              : 5px;

        h2:not(h2:nth-child(5)) {
            border-right: black 1px solid;
        }
    }
}

.calzone>.shell>.mask>.small_price_container>.no_border {

    border-right: none;
}

.pizza_container,
.calzone_container {

    .price_container {
        position     : relative;
        display      : grid;
        place-items  : center;
        border-bottom: white dashed 1px;


        .price {
            font-size : 1em;
            text-align: center;
            padding   : 5px;
        }
    }
}


.food {
    @include image_hover(100%, 100%);
    overflow: hidden;
}

.appetizer_container,
.pasta_container,
.pizza_container,
.calzone_container {
    display              : none;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color     : $bg_color;
    position             : relative;
}

.food {
    border-bottom: white 1px dashed;
    padding      : 25px;
}

.appetizer,
.pasta {
    h2 {
        width: 63px;
    }
}

h3 {
    font-weight: 700;
}



#appetizer:checked {

    ~.menu_selector>label:nth-child(1) {
        background-color: $bg_color;
        color           : white;
    }

    ~.appetizer_container {
        display: grid;
    }
}

#pasta:checked {

    ~.menu_selector>label:nth-child(2) {
        background-color: $bg_color;
        color           : white;
    }

    ~.pasta_container {
        display: grid;
    }
}

#pizza:checked {

    ~.menu_selector>label:nth-child(3) {
        background-color: $bg_color;
        color           : white;
    }

    ~.pizza_container {
        display: grid;
    }
}

#calzone:checked {

    ~.menu_selector>label:nth-child(4) {
        background-color: $bg_color;
        color           : white;
    }

    ~.calzone_container {
        display: grid;
    }
}

@include scroll_up(10px, 10px);