* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 3px;
  line-height: 1.5em;
  font-weight: 500;
}

img {
  max-width: 100%;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: white;
  width: 100%;
}

@-webkit-keyframes photo_transition {
  0% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  98% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes photo_transition {
  0% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  98% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes photo_transition1 {
  0% {
    opacity: 0%;
  }
  15% {
    opacity: 0%;
  }
  23% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes photo_transition1 {
  0% {
    opacity: 0%;
  }
  15% {
    opacity: 0%;
  }
  23% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes photo_transition2 {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  40% {
    opacity: 0%;
  }
  48% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes photo_transition2 {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  40% {
    opacity: 0%;
  }
  48% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes photo_transition3 {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  65% {
    opacity: 0%;
  }
  73% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes photo_transition3 {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  65% {
    opacity: 0%;
  }
  73% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes open {
  0% {
    width: 1%;
    height: 3%;
  }
  55% {
    width: 80%;
    height: 3%;
  }
  100% {
    width: 80%;
    height: 40%;
  }
}

@keyframes open {
  0% {
    width: 1%;
    height: 3%;
  }
  55% {
    width: 80%;
    height: 3%;
  }
  100% {
    width: 80%;
    height: 40%;
  }
}

@-webkit-keyframes photo_carousel {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes photo_carousel {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes photo_carousel1 {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  63% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes photo_carousel1 {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  63% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes photo_carousel2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  56% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes photo_carousel2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  56% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  position: relative;
  overflow: hidden;
  top: 0px;
}

.body {
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.411);
  overflow: hidden;
}

.body > div {
  place-self: center;
  text-align: center;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 10px;
  height: 80vh;
}

.body > div > a {
  font-weight: 200;
}

.body .address {
  text-decoration: none;
  color: white;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.body .address img {
  height: 24px;
}

.logo {
  position: relative;
  width: 170px;
  padding-bottom: 5vh;
}

.phone {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  color: white;
  text-decoration: none;
}

.phone > p:nth-child(3) {
  display: none;
}

.phone img {
  height: 25px;
}

.bg_images {
  height: 100%;
}

.bg_images > img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.bg_images :nth-child(1) {
  -webkit-animation: photo_transition 40s infinite;
          animation: photo_transition 40s infinite;
}

.bg_images :nth-child(2) {
  -webkit-animation: photo_transition1 40s infinite;
          animation: photo_transition1 40s infinite;
}

.bg_images :nth-child(3) {
  -webkit-animation: photo_transition2 40s infinite;
          animation: photo_transition2 40s infinite;
}

.bg_images :nth-child(4) {
  -webkit-animation: photo_transition3 40s infinite;
          animation: photo_transition3 40s infinite;
}

nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  max-width: 90vw;
}

nav > a {
  text-decoration: none;
  color: white;
  border: white 2px solid;
  padding: 15px 25px;
  font-size: .8em;
  font-weight: 200;
}

nav > a:hover {
  background-color: rgba(0, 0, 0, 0.705);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

#maps {
  pointer-events: none;
  opacity: 0%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#close {
  right: calc(10% - .75rem);
  top: calc(30% - .75rem);
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: opacity .4s ease-in-out 1s;
  transition: opacity .4s ease-in-out 1s;
  opacity: 0;
}

#close p {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 0px 0px 2px 2px;
}

#bg_close {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#maps:target > #close {
  opacity: 1;
}

#maps:target {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.575);
  top: 0px;
  z-index: 3;
  row-gap: 20px;
  opacity: 100%;
  pointer-events: auto;
}

#maps:target .map_container {
  -webkit-animation: open 1s ease-in-out;
          animation: open 1s ease-in-out;
  overflow: hidden;
  width: 80%;
  height: 40%;
  z-index: 2;
}

iframe {
  width: 80vw;
  height: 40vh;
}

p,
a {
  text-shadow: 1px 1px 2px black;
}

footer {
  position: absolute;
  top: 96vh;
  left: 0px;
  width: 100%;
  position: grid;
  place-items: center;
  z-index: 10;
  color: white;
  font-size: 12px;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .phone {
    pointer-events: none;
  }
  .phone img {
    display: none;
  }
  .phone > p:nth-child(1) {
    display: none;
  }
  .phone > p:nth-child(3) {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */